<a href="https://colab.research.google.com/github/ssubin29/DaconAlone/blob/main/2021_ForecastingPriceContest/%5Bbaseline2%5D_LightGBM%EC%9D%84_%ED%99%9C%EC%9A%A9%ED%95%9C_%EA%B0%9C%EB%B3%84_%EB%AA%A8%EB%8D%B8%EB%A7%81(Public__0_367959).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Library Import & Settings

In [ ]:
import pandas as pd
import numpy as np
import lightgbm
from tqdm import tqdm
import warnings

In [ ]:
# 경고 끄기
pd.set_option('mode.chained_assignment', None)
warnings.filterwarnings(action='ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#data  = pd.read_csv("/content/drive/Shareddrives/2021_ForecastingPriceContest/dataset/public_data/train.csv")
data  = pd.read_csv("/content/drive/Shareddrives/2021_ForecastingPriceContest/output/merged_data.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 전처리

## lag_feature 추가 및 기타 전처리

In [ ]:
def preprocessing(temp_df, pum, len_lag) :
    # p_lag(가격), q_lag(거래량) 추가 
    # lag 예측 변수의 시차
    for lag in range(1,len_lag+1) :
      temp_df[f'p_lag_{lag}'] = -1
      temp_df[f'q_lag_{lag}'] = -1
      for index in range(lag, len(temp_df)) :
        temp_df.loc[index, f'p_lag_{lag}'] = temp_df[f'{pum}_가격(원/kg)'][index-lag] #1일전, 2일전, ... 가격을 feature로 추가
        temp_df.loc[index, f'q_lag_{lag}'] = temp_df[f'{pum}_거래량(kg)'][index-lag] #1일전, 2일전, ... 거래량을 feature로 추가

    # month 추가
    temp_df['date'] = pd.to_datetime(temp_df['date'])
    temp_df['month'] = temp_df['date'].dt.month

    # 예측 대상(1w,2w,4w) 추가
    for week in ['1_week','2_week','4_week'] :
      temp_df[week] = 0
      n_week = int(week[0])
      for index in range(len(temp_df)) :
        try : temp_df[week][index] = temp_df[f'{pum}_가격(원/kg)'][index+7*n_week]
        except : continue

    # 불필요한 column 제거        
    temp_df = temp_df.drop(['date',f'{pum}_거래량(kg)',f'{pum}_가격(원/kg)'], axis=1)
    
    return temp_df

In [ ]:
train = data
train.head(2)

         date   요일  배추_거래량(kg)  ...  캠벨얼리_가격(원/kg)  샤인마스캇_거래량(kg)  샤인마스캇_가격(원/kg)
0  2016-01-01  금요일         0.0  ...            0.0            0.0             0.0
1  2016-01-02  토요일     80860.0  ...         2014.0            0.0             0.0

[2 rows x 44 columns]

In [ ]:
# preprocessing 함수 예시
pum = '배추'
temp_df = train[['date',f'{pum}_거래량(kg)', f'{pum}_가격(원/kg)']]
# pum 별로 train
preprocessing(temp_df, pum, len_lag=28)

         p_lag_1     q_lag_1     p_lag_2  ...  1_week  2_week  4_week
0      -1.000000       -1.00   -1.000000  ...     420     449     625
1       0.000000        0.00   -1.000000  ...     389     454     733
2     329.000000    80860.00    0.000000  ...       0       0    1048
3       0.000000        0.00  329.000000  ...     398     475     638
4     478.000000  1422742.50    0.000000  ...     431     511     597
...          ...         ...         ...  ...     ...     ...     ...
2116  580.038536  1395747.15  538.959291  ...       0       0       0
2117  612.637059  1754622.65  580.038536  ...       0       0       0
2118  608.982626  1770020.10  612.637059  ...       0       0       0
2119  656.531144  1780275.50  608.982626  ...       0       0       0
2120  685.867743  1894155.00  656.531144  ...       0       0       0

[2121 rows x 60 columns]

# 학습

## metric 정의

In [ ]:
def nmae(week_answer, week_submission):
    answer = week_answer.to_numpy()
    target_idx = np.where(answer!=0)
    true = answer[target_idx]
    pred = week_submission[target_idx]
    score = np.mean(np.abs(true-pred)/true)
    
    return score


def at_nmae(pred, dataset):
    y_true = dataset.get_label()
    week_1_answer = y_true[0::3]
    week_2_answer = y_true[1::3]
    week_4_answer = y_true[2::3]
    
    week_1_submission = pred[0::3]
    week_2_submission = pred[1::3]
    week_4_submission = pred[2::3]
    
    score1 = nmae(week_1_answer, week_1_submission)
    score2 = nmae(week_2_answer, week_2_submission)
    score4 = nmae(week_4_answer, week_4_submission)
    
    score = (score1+score2+score4)/3
    
    return 'score', score, False

## 학습 정의

In [ ]:
def model_train(x_train, y_train, x_valid, y_valid) :
    params = {'learning_rate': 0.01, 
              'max_depth': 6, 
              'boosting': 'gbdt', 
              'objective': 'regression',  
              'is_training_metric': True, 
              'num_leaves': 100, 
              'feature_fraction': 0.8, 
              'bagging_fraction': 0.8, 
              'bagging_freq': 5, 
              'seed':42,
              'num_threads':8
             }

    model = lightgbm.train(params, 
                   train_set = lightgbm.Dataset(data = x_train, label = y_train),
                   num_boost_round = 10000, 
                   valid_sets = lightgbm.Dataset(data = x_valid, label = y_valid), 
                   init_model = None, 
                   early_stopping_rounds = 100,
                   feval = at_nmae,
                   verbose_eval = False
                    )
    
    return model

## 품목 및 품종별 모델 학습

In [ ]:
unique_pum = [
    '배추', '무', '양파', '건고추','마늘',
    '대파', '얼갈이배추', '양배추', '깻잎',
    '시금치', '미나리', '당근',
    '파프리카', '새송이', '팽이버섯', '토마토',
]

unique_kind = [
    '청상추', '백다다기', '애호박', '캠벨얼리', '샤인마스캇'
]

In [ ]:
model_dict = {}
split = 28 #validation

for pum in tqdm(unique_pum + unique_kind):
    # 품목 품종별 전처리
    temp_df = train[['date',f'{pum}_거래량(kg)', f'{pum}_가격(원/kg)']]
    temp_df = preprocessing(temp_df, pum, len_lag=28)
    
    # 주차별(1,2,4w) 학습
    for week_num in [1,2,4] :
        x = temp_df[temp_df[f'{week_num}_week']>0].iloc[:,:-3]
        y = temp_df[temp_df[f'{week_num}_week']>0][f'{week_num}_week']
        
        #train, test split
        x_train = x[:-split]
        y_train = y[:-split]
        x_valid = x[-split:]
        y_valid = y[-split:]
        
        model_dict[f'{pum}_model_{week_num}'] = model_train(x_train, y_train, x_valid, y_valid)

100%|██████████| 21/21 [22:42<00:00, 64.88s/it]

# 추론

In [ ]:
submission = pd.read_csv('/content/drive/Shareddrives/2021_ForecastingPriceContest/dataset/sample_submission.csv')
public_date_list = submission[submission['예측대상일자'].str.contains('2020')]['예측대상일자'].str.split('+').str[0].unique()
# ['2020-09-29', ...]

for date in tqdm(public_date_list) :
    test = pd.read_csv(f'/content/drive/Shareddrives/2021_ForecastingPriceContest/output/merged_data.csv')
    for pum in unique_pum + unique_kind:
        # 예측기준일에 대해 전처리
        temp_test = pd.DataFrame([{'date' : date}]) #예측기준일
        alldata = pd.concat([train, test, temp_test], sort=False).reset_index(drop=True)
        alldata = alldata[['date', f'{pum}_거래량(kg)', f'{pum}_가격(원/kg)']].fillna(0)
        alldata = alldata.iloc[-28:].reset_index(drop=True)
        alldata = preprocessing(alldata, pum, len_lag=28)
        temp_test = alldata.iloc[-1].astype(float)
        
        # 개별 모델을 활용하여 1,2,4주 후 가격 예측
        for week_num in [1,2,4] :
            temp_model = model_dict[f'{pum}_model_{week_num}']
            result = temp_model.predict(temp_test)
            condition = (submission['예측대상일자']==f'{date}+{week_num}week')
            idx = submission[condition].index
            submission.loc[idx, f'{pum}_가격(원/kg)'] = result[0]

100%|██████████| 38/38 [05:12<00:00,  8.21s/it]

In [ ]:
submission.to_csv('baseline2_0920.csv',index=False, encoding='utf-8-sig')

In [ ]:
submission.head()

             예측대상일자  배추_가격(원/kg)  ...  캠벨얼리_가격(원/kg)  샤인마스캇_가격(원/kg)
0  2020-09-29+1week   860.429258  ...    5010.701826    10773.141915
1  2020-09-29+2week   685.883972  ...    4113.313915    10689.244407
2  2020-09-29+4week   690.358155  ...    4110.823237     9109.397096
3  2020-09-30+1week   860.429258  ...    5010.701826    10773.141915
4  2020-09-30+2week   685.883972  ...    4113.313915    10689.244407

[5 rows x 22 columns]

In [ ]:
!pip install dacon_submit_api-0.0.4-py3-none-any.whl

from dacon_submit_api import dacon_submit_api 

result = dacon_submit_api.post_submission_file(
    'baseline2_0920.csv', 
    '개인 Token', 
    '235801', 
    'DACONIO', 
    'DACON_Baseline'
)

Processing ./dacon_submit_api-0.0.4-py3-none-any.whl
Installing collected packages: dacon-submit-api
Successfully installed dacon-submit-api-0.0.4
{'isSubmitted': False, 'detail': 'Over max submission count of Daily. 일일 제출 가능한 최대 횟수가 초과 되었습니다.'}