<a href="https://colab.research.google.com/github/ssubin29/DaconAlone/blob/main/2021_ForecastingPriceContest/LoadAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*이탤릭체 텍스트*

In [ ]:
import pandas as pd
import urllib.request
import json
import holidays
import datetime
import numpy as np
from tqdm import tqdm
from datetime import timedelta, date
from dateutil.relativedelta import relativedelta
import xml.etree.ElementTree as ET
import json
import requests
import urllib
import urllib.request
import folium
from glob import glob
import multiprocessing
import pickle

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
DATA_IN = '/content/drive/Shareddrives/2021_ForecastingPriceContest/dataset'
data = pd.read_csv(DATA_IN + '/public_data/train.csv')
empty_df = pd.DataFrame(data.loc[[2],:])
empty_df

FileNotFoundError: ignored

In [ ]:
days = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']
def loadAPI(date):  
    global main_df  
    try:
        url_date = date.strftime("%Y%m%d")
        url = 'https://www.nongnet.or.kr/api/whlslDstrQr.do?sdate=' # sdate = 날짜

        response = urllib.request.urlopen(url+url_date).read()
        response = json.loads(response)

        data = pd.DataFrame(response['data'])
        preprocessed_data = preprocessing(data)
        preprocessed_data['date'] = date
        preprocessed_data['요일'] = days[date.weekday()]

        main_df = main_df.append(preprocessed_data)
    except:
        empty_df['date'] = date 
        empty_df['요일'] = days[date.weekday()]
        main_df = main_df.append(empty_df)

In [ ]:
# 윈도우즈 사용시 함수를 별도의 .py파일로 저장 후 import하여 사용
def preprocessing(tsalet_file):
    unique_pum = [
        '배추', '무', '양파', '건고추','마늘',
        '대파', '얼갈이배추', '양배추', '깻잎',
        '시금치', '미나리', '당근',
        '파프리카', '새송이', '팽이버섯', '토마토',
    ]
    
    unique_kind = [
        '청상추', '백다다기', '애호박', '캠벨얼리', '샤인마스캇'
    ]
    
    train_dict = {
        'date':[]
    }
    
    for sub in unique_pum:
        train_dict[f'{sub}_거래량(kg)'] = []
        train_dict[f'{sub}_가격(원/kg)'] = []
        
    for sub in unique_kind:
        train_dict[f'{sub}_거래량(kg)'] = []
        train_dict[f'{sub}_가격(원/kg)'] = []
        
    tsalet_sample = tsalet_file
    days = sorted(tsalet_sample['SALEDATE'].unique())
    for day in days:
        train_dict['date'].append(day)
        for sub in unique_pum:
            # 날짜별, 품목별, 거래량이 0 이상인 행만 선택
            c = tsalet_sample[(tsalet_sample['SALEDATE']==day) & (tsalet_sample['PUM_NM']==sub) & (tsalet_sample['TOT_QTY']>0)]
            if c.shape[0] == 0:
                train_dict[f'{sub}_거래량(kg)'].append(0)
                train_dict[f'{sub}_가격(원/kg)'].append(0)
            else:
                tot_amt = c['TOT_AMT'].sum().astype(float)
                tot_qty = c['TOT_QTY'].sum().astype(float)
                mean_price = tot_amt/(tot_qty+1e-20)
                train_dict[f'{sub}_거래량(kg)'].append(tot_qty)
                train_dict[f'{sub}_가격(원/kg)'].append(mean_price)
        
        for sub in unique_kind:
            # 날짜별, 품종별, 거래량이 0 이상인 행만 선택
            c = tsalet_sample[(tsalet_sample['SALEDATE']==day) & (tsalet_sample['KIND_NM']==sub) & (tsalet_sample['TOT_QTY']>0)]
            if c.shape[0] == 0:
                train_dict[f'{sub}_거래량(kg)'].append(0)
                train_dict[f'{sub}_가격(원/kg)'].append(0)
            else:
                tot_amt = c['TOT_AMT'].sum().astype(float)
                tot_qty = c['TOT_QTY'].sum().astype(float)
                mean_price = round(tot_amt/(tot_qty+1e-20))
                tot_qty = round(tot_qty, 1)
                train_dict[f'{sub}_거래량(kg)'].append(tot_qty)
                train_dict[f'{sub}_가격(원/kg)'].append(mean_price)

    return pd.DataFrame(train_dict)

In [ ]:
main_df = pd.DataFrame(columns=['date', '요일', '배추_거래량(kg)', '배추_가격(원/kg)', '무_거래량(kg)', '무_가격(원/kg)',
       '양파_거래량(kg)', '양파_가격(원/kg)', '건고추_거래량(kg)', '건고추_가격(원/kg)',
       '마늘_거래량(kg)', '마늘_가격(원/kg)', '대파_거래량(kg)', '대파_가격(원/kg)',
       '얼갈이배추_거래량(kg)', '얼갈이배추_가격(원/kg)', '양배추_거래량(kg)', '양배추_가격(원/kg)',
       '깻잎_거래량(kg)', '깻잎_가격(원/kg)', '시금치_거래량(kg)', '시금치_가격(원/kg)',
       '미나리_거래량(kg)', '미나리_가격(원/kg)', '당근_거래량(kg)', '당근_가격(원/kg)',
       '파프리카_거래량(kg)', '파프리카_가격(원/kg)', '새송이_거래량(kg)', '새송이_가격(원/kg)',
       '팽이버섯_거래량(kg)', '팽이버섯_가격(원/kg)', '토마토_거래량(kg)', '토마토_가격(원/kg)',
       '청상추_거래량(kg)', '청상추_가격(원/kg)', '백다다기_거래량(kg)', '백다다기_가격(원/kg)',
       '애호박_거래량(kg)', '애호박_가격(원/kg)', '캠벨얼리_거래량(kg)', '캠벨얼리_가격(원/kg)',
       '샤인마스캇_거래량(kg)', '샤인마스캇_가격(원/kg)'])

In [ ]:
data_start = date(2020,10,1)
data_end = date(2021,11,5)
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

for n in range(14):
    start = data_start + relativedelta(months=n)
    end = start + relativedelta(months=1) - timedelta(1)
    for single_date in daterange(start, end):
        print(single_date.strftime("%Y-%m-%d"))  
        loadAPI(single_date)
    main_df.to_csv(f'/content/drive/Shareddrives/2021_ForecastingPriceContest/output/{n}th_data.csv' ,
                   index=False, encoding='utf-8-sig')

2022-08-17
2022-08-18
2022-08-19
2022-08-20
2022-08-21
2022-08-22
2022-08-23
2022-08-24
2022-08-25

In [ ]:
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

start_date = date(2020, 9, 29)
end_date = date(2021, 11, 5)
for single_date in daterange(start_date, end_date):
    print(single_date.strftime("%Y-%m-%d"))
    loadAPI(single_date)
main_df.to_csv('data.csv')

main_df

# 데이터 병합

In [ ]:
DATA_IN = "/content/drive/Shareddrives/2021_ForecastingPriceContest/output"

In [ ]:
merge_df = pd.DataFrame(columns=['date', '요일', '배추_거래량(kg)', '배추_가격(원/kg)', '무_거래량(kg)', '무_가격(원/kg)',
       '양파_거래량(kg)', '양파_가격(원/kg)', '건고추_거래량(kg)', '건고추_가격(원/kg)',
       '마늘_거래량(kg)', '마늘_가격(원/kg)', '대파_거래량(kg)', '대파_가격(원/kg)',
       '얼갈이배추_거래량(kg)', '얼갈이배추_가격(원/kg)', '양배추_거래량(kg)', '양배추_가격(원/kg)',
       '깻잎_거래량(kg)', '깻잎_가격(원/kg)', '시금치_거래량(kg)', '시금치_가격(원/kg)',
       '미나리_거래량(kg)', '미나리_가격(원/kg)', '당근_거래량(kg)', '당근_가격(원/kg)',
       '파프리카_거래량(kg)', '파프리카_가격(원/kg)', '새송이_거래량(kg)', '새송이_가격(원/kg)',
       '팽이버섯_거래량(kg)', '팽이버섯_가격(원/kg)', '토마토_거래량(kg)', '토마토_가격(원/kg)',
       '청상추_거래량(kg)', '청상추_가격(원/kg)', '백다다기_거래량(kg)', '백다다기_가격(원/kg)',
       '애호박_거래량(kg)', '애호박_가격(원/kg)', '캠벨얼리_거래량(kg)', '캠벨얼리_가격(원/kg)',
       '샤인마스캇_거래량(kg)', '샤인마스캇_가격(원/kg)'])

In [ ]:
import os
for dirname, _, filenames in os.walk(DATA_IN):
    for filename in filenames:
        print(filename)
        merge_df = pd.concat([merge_df,pd.read_csv(os.path.join(dirname, filename))])

0.csv
1.csv
2.csv
3.csv
4.csv
5.csv

In [ ]:
merge_df = merge_df.sort_values(by=['date'])

In [ ]:
#mask = (merge_df['date'] >= '2019-10-1') & (merge_df['date'] <= '2021-11-05')
mask = merge_df['date'] <= '2021-11-05'
filtered_df = merge_df.loc[mask]
filtered_df.tail()

           date   요일  배추_거래량(kg)  ...  캠벨얼리_가격(원/kg)  샤인마스캇_거래량(kg)  샤인마스캇_가격(원/kg)
119  2021-11-01  월요일  1754622.65  ...         6119.0       118166.9         10524.0
120  2021-11-02  화요일  1770020.10  ...         6383.0       105298.1         10522.0
121  2021-11-03  수요일  1780275.50  ...         6524.0        98357.1         11200.0
122  2021-11-04  목요일  1894155.00  ...         6529.0        91138.5         10774.0
123  2021-11-05  금요일  1920218.60  ...         6174.0        89487.9         10840.0

[5 rows x 44 columns]

In [ ]:
filtered_df.to_csv(f'/content/drive/Shareddrives/2021_ForecastingPriceContest/output/merged_data.csv' ,
                   index=False, encoding='utf-8-sig')

### + 휴일 변수 추가

In [ ]:
# 한국 휴일 객체 생성 
kr_holidays = holidays.KR()

# generate holiday table
filtered_df['holiday'] = filtered_df.date.apply(lambda x: 1 if x in kr_holidays else 0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
filtered_df

           date   요일  배추_거래량(kg)  ...  샤인마스캇_거래량(kg)  샤인마스캇_가격(원/kg)  holiday
0    2016-01-01  금요일        0.00  ...            0.0             0.0        1
1    2016-01-02  토요일    80860.00  ...            0.0             0.0        0
2    2016-01-03  일요일        0.00  ...            0.0             0.0        0
3    2016-01-04  월요일  1422742.50  ...            0.0             0.0        0
4    2016-01-05  화요일  1167241.00  ...            0.0             0.0        0
..          ...  ...         ...  ...            ...             ...      ...
119  2021-11-01  월요일  1754622.65  ...       118166.9         10524.0        0
120  2021-11-02  화요일  1770020.10  ...       105298.1         10522.0        0
121  2021-11-03  수요일  1780275.50  ...        98357.1         11200.0        0
122  2021-11-04  목요일  1894155.00  ...        91138.5         10774.0        0
123  2021-11-05  금요일  1920218.60  ...        89487.9         10840.0        0

[2121 rows x 45 columns]

In [ ]:
filtered_df.to_csv(f'/content/drive/Shareddrives/2021_ForecastingPriceContest/output/merged_data_plus_holiday.csv' ,
                   index=False, encoding='utf-8-sig')